
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.6s ease;
    overflow: hidden;
}

.bg-blur {
    position: fixed;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    transform: scale(1.1); 
    z-index: -1;
}

.buttons{
    padding: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

button{
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 50%;
}

.buttons button i{
    font-size: 20   px;
}

#slider{
    justify-content: center;
    align-items: center;
}

img{
    width: 50%;
    border-radius: 10px;
}
