* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;   
  position: relative;
  overflow: hidden;
}


.bg-blur {
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  transform: scale(1.1);
  z-index: -1;
}

.slider-box {
  position: relative;
  text-align: center;
}

#slider {
  width: 800px;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}


button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 16px;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(0,0,0,0.6);
  color: #fff;
}

#left-btn { left: -60px; }
#right-btn { right: -60px; }

.btn:hover {
  background: #fff;
  color: #000;
}

#left-btn,
#right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 22px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(0,0,0,0.6);
  color: #fff;
  transition: all 0.3s ease;
}

/* Position */
#left-btn { left: -70px; }
#right-btn { right: -70px; }

/* Hover Effect */
#left-btn:hover,
#right-btn:hover {
  background: #00e5ff;
  color: #000;
  transform: translateY(-50%) scale(1.2);
  box-shadow: 0 0 15px #00e5ff, 0 0 30px #00e5ff66;
}

/* Click effect */
#left-btn:active,
#right-btn:active {
  transform: translateY(-50%) scale(0.95);
}



